:root {
    /* colours based on solarized-dark by Ethan Schoonover
    https://ethanschoonover.com/solarized/#usage-development */
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet:  #d33682;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    --base0: #839496;
    --base01: #586e75;
    --base02: #073642;
    --base03:   #002b36;
}

html {
  font-family: 'Source Code Pro', monospace;
  color: var(--base0);
  background-color: var(--base03);
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

pre {
  color: var(--orange);
  white-space: pre;
  padding: 10px 15px;
  border-radius: 0px;
  overflow: auto;
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
}

body {
  max-width: 1000px;
  line-height: 1.5em;
  padding: 1em;
  margin-right:auto;
  margin-left: auto;
}

a {
  color: var(--yellow);
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

ul {
  list-style-type: circle;
}

h1, h2, h3, h4, h5 { 
  padding-top:1.5rem;
  padding-bottom: 0.5rem;
  display: block;
  font-size: 150%;
  font-weight: bold;
  border-bottom: 1px dashed var(--base02);
  color: var(--yellow) 
}

h1 {
  border-bottom: 1px solid var(--base01) !important;
}

h1::before {
  content: "# "
}

h2::before {
  content: "## "
}

h3::before {
  content: "### "
}

h4::before {
  content: "#### "
}

h5::before {
  content: "##### "
}

blockquote {
  color: var(--orange);
  border-left: 3px solid var(--orange);
  padding-left: 20px;
}

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  letter-spacing: 0.01em;
}

nav {
  top: 0;
  text-align: center;
  border-bottom: 1px dashed var(--base01);
  padding-bottom: 1em;
  font-size: 90%;
}

nav > a {
  text-decoration: underline;
}

input {
  display: none;
  visibility: hidden;
}

label {
  display: block;
  position: fixed;
  color: var(--base0);
  left: 90%;
  top: 1em;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border: 1px solid var(--yellow)
}

.toc {
  position: fixed;
  font-size: 90%;
  left: 80%;
  top: 3rem;
  padding: 0.5rem;
  text-align: left;
  border-bottom: none;
  overflow: auto;
}

.toc a {
  text-decoration: none;
}

ul,
ol {
  padding: 0 0 0 2em;
}

.sourceCode {
  background-color: var(--base02);
  color: var(--base0);
}

.sourceCode pre {
  padding: 20px 20px 20px 20px
}

.sourceCode > code {
  padding: 0;
}

code span.dv {
  /* numbers */
  color: var(--blue);
}

code span.op {
  /* main body */
  color: var(--base0);
}

code span.cf {
  /* statements i.e. if */
  color: var(--green);
}

code span.fu {
  /* keyword */
  color: var(--orange);
}

code span.kw {
  /* symbols */
  color: var(--yellow);
}

code span.co {
  /* comments */
  color: var(--base01);
}

code span.al {
  /* TODO comments */
  color: var(--magenta);
}

code span.st {
  /* string */
  color: var(--green);
}

code span.sc {
  /* string/character */
  color: var(--green);
}



